[Unit]
Description=Migrates the allhailbot database
Documentation=https://github.com/AllHailSubreddit/bot/tree/master/src/migrate
Documentation=https://github.com/AllHailSubreddit/bot/
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/etc/opt/allhail/bot
ExecStart=/usr/local/bin/docker-compose run --rm migrate
