[Unit]
Description=Migrates the bot database
Documentation=https://github.com/AllHailSubreddit/bot/tree/master/src/cfb-trivia
Documentation=https://github.com/AllHailSubreddit/bot/
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/etc/opt/allhail
ExecStart=/usr/local/bin/docker-compose run --rm migrate
