[Unit]
Description=Triggers cfb-trivia.service
Documentation=https://github.com/AllHailSubreddit/bot/tree/master/cfb-trivia
Documentation=https://github.com/AllHailSubreddit/bot/

[Timer]
OnCalendar=Tue 16:00
